.map {    
    margin-left: 10%;
    width: 90%;         
    margin-bottom:50px;
}


.icon {
    position: absolute;
    width: 30%;
    height: 30%;
    right: 0px;
    top: 20px;
    background-image: url(/images/pictures/en/locate.png);
    background-position: left center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.pattern {
    right:0px;
    top:0px;
    width:40%;
    position: absolute;    
    background-position: right center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/images/locatepattern.png);
}
